<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="hero">
                    <div class="container flex h-100">
                        <div class="col-6"></div>
                        <div class="hero__content col-6">
                            <h1 class="hero__title">Вместе — мы справимся. Безопасная связь, где бы вы ни находились</h1>
                            <div class="hero__row flex">
                                <a href="#" class="hero__link hero__link">MUSICBOX PREMIUM</a>
                                <a href="#" class="hero__link">MUSICBOX FREE</a>
                            </div>
                            <p class="hero__description">1-month free trial <span>$7.99</span>/month after</p>
                        </div>
                    </div>
                </section>
                <section class="flow">
                    <div class="container">
                        <div class="flow__content flex">
                            <div class="flow__img" >
                                <img src="/images/flow/Phone.png" alt="" class="flow__img">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="anytime">
                    <div class="container">
                        <div class="anytime__content">
                            <h3 class="anytime__title">Lorem Ipsum</h3>
                            <p class="anytime__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </section>
                
            </main>
                    <style>
                        .ada-embed-drawer__iframe-container {
                            max-height: 550px !important;
                            max-width: 330px !important;
                            margin: 10px 10px 10px 10px !important;
                        }
                    </style>
                    <script nonce="" id="__ada" data-handle="zoom" src="https://static.ada.support/embed.js"></script>
                   
                <%- include('../partials/footer') %>
    </body>
<style>
    .flow__img{
        min-width: 940px;
        text-align: center;
    }
</style>
</html>